* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(var(--b3f, 250, 250, 250))
}

.title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: solid lightgrey;
    border-width: 5px;
    border-radius: 5px;
}

.carousel-slide .box {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

iframe {
    height: 100%;
    width: 100%;
}

img {
    max-height: 100%;
    max-width: 100%
}

#previousBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: grey;
    opacity: 0.5;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: grey;
    opacity: 0.5;
    cursor: pointer;
}